{% extends "base.html" %}

{% block title %}Bookit - {{ equipment.name }} details{% endblock %}

{% block main %}

<div id="equipment-detail-list">
    <ul class="equipment-details"> {{ equipment.name }}
    {% for name, value in equipment.get_fields %}
        {% if value %}
        <li>{{ name|capfirst }}: 
            {% if name == 'brand' %} {{ equipment.brand.name }}
            {% elif name == 'model' %} {{ equipment.model.name }}
            {% elif name == 'admin' %} {{ equipment.admin.username }} - 
                <a href="mailto:{{ equipment.admin.email }}" target="_blank">contact &#9993;</a>
            {% else %} {{ value }}
            {% endif %}
        </li>
        {% endif %}
    {% endfor %}
        <li class="users-list">Users:
            {% for user in equipment.user_names_list %}
                {% if not forloop.first %}, {% endif %}
                {{ user }}
            {% endfor %}
        </li>
    </ul>
    {% if equipment.component.all.count != 0 %}
    <ul> Components
        {% for component in equipment.component.all %}
        <ul class="component-details"> {{ component.name }}
        {% for name, value in component.get_fields %}
            {% if value %}
            <li>{{ name|capfirst }}: 
                {% if name == 'brand' %} {{ equipment.brand.name }}
                {% elif name == 'model' %} {{ equipment.model.name }}
                {% else %} {{ value }}
                {% endif %}
            </li>
            {% endif %}
        {% endfor %}
        </ul>
        {% endfor %}
    </ul>
    {% endif %}
</div>
{% endblock %}