{% extends "base.html" %} {% block title %}Bookit{% endblock %} {% block main %}

<div id="banner">Welcome to Bookit.</div>
<div id="nav-layout">
	<div class="nav-layout-item">Book a slot on available equipment:
		<ul>
			{% for equipment in equipment_list %}
			<li><a href="/scheduling/calendar/month/{{ equipment.name }}">{{ equipment.name }}</a></li>
			{% endfor %}
		</ul>
	</div>
	<div class="nav-layout-item">Submit a repair ticket:
		<ul>
			{% for equipment in equipment_list %}
			<li><a href="/admin/scheduling/ticket/add/?equipment={{ equipment.id }}">{{ equipment.name }}</a></li>
			{% endfor %}
		</ul>
	</div>
	<div class="nav-layout-item">View equipment details and status:
		<ul>
			{% for equipment in equipment_list %}
			<li><a href="/scheduling/equipment/{{ equipment.id }}">{{ equipment.name }}</a></li>
			{% endfor %}
		</ul>
	</div>
</div>
<div id="previews-container">
	<div id="equipment-status-preview">Equipment status:
		<ul>
			{% for equipment in equipment_list %}
			<li class="{{ equipment.status }}">{{ equipment.name }} - {% if equipment.status %} &#9989; <span>Next booking: {{ equipment.next_booking.start_timestring }}</span> {% else %}&#10071; <span class="warning">offline</span> {% endif %}
			</li>
			{% endfor %}
		</ul>
	</div>
	<div id="msg-box-preview">
		<div class="message-holder">Recent messages: {% for msg in message_objs %}
			<div class="message-obj{% if msg.critical %} critical{% endif %}" id="msg-{{ msg.id }}">
				{{ msg.msg |linebreaksbr |truncatechars:175 }} {% comment %} {% if msg.msg|length >= 175 %}
				<a href="/scheduling/messages/#msg-{{ msg.id}}">[+]</a> {% endif %} {% endcomment %}
				<span>Posted by: {{ msg.user}} on {{ msg.created }}
                    </span>
			</div>
			{% endfor %}
		</div>
		<div class="follow-through"><a href="/scheduling/messages">View more...</a></div>
	</div>
</div>
<div class="clear"></div>
<div id="statement-container">
	<div id="statement">
		<p class="statement-header">By booking the associated equipment, you are <span class="super-emphasize"> 
        responsible</span> for practicing reasonable care and respect for the instruments.<span class="emphasize">
        Remember,</span> instruments are very expnsive, incredibly time consuming to maintain, and can easily need to be placed offline for repairs for extended duration--months. Do your best to ensure that these instruments remain online and in top condition for everyone in the group. You further acknowledge that disregard for the following guidelines and practices may <span class="super-emphasize">impact future instrument privileges</span>.</p>
		{% for info_bit in information_list %}
		<div class="clause">{{ info_bit.header }}
			<p>{{ info_bit.body }}</p>
		</div>
		{% endfor %}
	</div>
</div>
{% endblock %}