{% load i18n %}{% autoescape off %}
{% blocktrans %}Welcome to {{ site_name }}.{% endblocktrans %}
{% blocktrans %}
You have been assigned a username and temporary password. To begin using {{ site_name }},
you will need to reset this temporary login (via link below). You may then setup your
equipment permissions by requesting access to particular instrumentation.{% endblocktrans %}

{% trans "Username: " %} {{ user.get_username }}

{% trans "Please go to the following page and choose a new password:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}

{% trans "Thanks for using our site!" %}

{% blocktrans %}The {{ site_name }} team{% endblocktrans %}

{% endautoescape %}
